body {
    margin: 0;
    font-family: Poppins;
    background: url(../../images/html_table.jpg) no-repeat;
}

a {
    text-decoration: none;
    color: #2F2F2F;
}

button {
    cursor: pointer;
}

.container {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}

header.buyindexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.icon-cart {
    position: relative;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title {
    width: 50%;
    background-color: #fff;
    font-size: xx-large;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.dark .title {
    border: none;
    background-color: #575555;
    color: white;
    font-size: xx-large;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.cartTab {
    width: 400px;
    max-width: 100%;
    background-color: #ffffff;
    color: #282727;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.cartTab.dark {
    background-color: #353432;
    color: #eee;
}


.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab button:hover {
    background-color: rgba(255, 0, 0, 0.626);
    color: white;
}

.cartTab .buyINDEXclose {
    background-color: #eee;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

/*  */
.cartTab {
    right: -400px;
    transition: 0.5s;
}

body.activeTabCart .cartTab {
    right: 0;
}

body.activeTabCart .container {
    transform: translateX(-250px);
}

/*  */

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 15px 20px #0009);
    height: 50%;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item.dark {
    background-color: #3a3a3af6;
}


.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.listProduct .item button:hover {
    background-color: #ffffff;
    color: #000000;
}

.listProduct .item.dark button:hover {
    background-color: #000000;
    color: #ffffff;
}

.listProduct .item.dark button {
    background-color: #fffcfc;
    color: #353333;
}

/*  */
.item .block {
    background-color: #00000024;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.item .BlockpPrice {
    color: rgb(246, 140, 140);
    border-radius: 25px;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .quantity {
    display: flex;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

/*  */

/* detail page */

.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}

.detail .image img {
    width: 100%;
}

.detail .image {
    position: relative;
}

.detail .image::before {
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #47ff0f3d;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}

.detail .content {
    border: 10px black solid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #3c3c3c79;
    border-radius: 25px;
    margin: 0 0 10px 0;
}

.dark .content {
    background-color: #ffffff56;
}

.detail .name {
    border-radius: 25px;
    font-size: xxx-large;
    margin: 0 0 10px 0;
}

.dark .name {
    color: white;
}

.detail .price {
    color: rgb(246, 140, 140);
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.detail .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.detail .buttons button {
    margin-left: 25px;
    background-color: #eee;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
    border: 5px black solid;
}

.detail .buttons button:hover {
    background-color: #ff9595;
    color: white;
}

.detail .buttons svg {
    width: 15px;
}

.detail .buttons span {
    border: 5px black solid;
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}

.detail .buttons button:nth-child(2) {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    border: 5px black solid;
    box-shadow: 0 10px 20px #2F2F2F77;
}

.detail .description {
    margin: 20px;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    border: 5px black solid;
    overflow: auto;
}

.dark .detail .description {
    background-color: #000000;
    color: white;
}

.addCart {
    margin-bottom: 10px;
}

/*  */

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }

    .detail {
        grid-template-columns: 40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 767px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .detail .image img {
        width: unset;
        height: 40vh;
    }

    .detail .name {
        font-size: x-large;
        margin: 0;

    }

    .detail .buttons button {
        font-size: small;
    }

    .detail .buttons {
        justify-content: center;
    }
}