* {
  text-decoration: none;
}

body {
  background: url(../../images/html_table.jpg) no-repeat;
  background-color: #000000;
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 1.15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
  color: white;
}

.Main{
    position: relative;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: auto;
}

.newSide{
    position: relative;
  display: flex;
  flex-direction: row;
}

.listCart {
    position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 5px solid #ffffff8e;
  margin-bottom: 25px;
}

.dark .listCart {
  border: 5px solid black;
}

.listCart img {
  width: 50px;
  height: auto;
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.517);
}


.time{
  padding-left: 10px;
  background-color: #ffffff8e;
  color: #000000;
}

.dark .time{
    background-color: #000000;
      color: #ffffff;
}

.finalPrice{
    padding-left: 10px;
  background-color: #ffffff8e;
  color: #000000;
}

.dark .finalPrice{
    background-color: #000000;
      color: #ffffff;
}

.BuyHistoryImage{
  position:absolute;
  left: 0px;
}

.BuyHistoryName{
    width: auto;
    margin-left: 8px;
}

.BuyHistoryTotalPrice{
    margin-left: 8px;
}

.BuyHistoryQuantity{
  margin-left: 8px;
}