@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1717156136642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e64c";
}

.icon-xiaoxi:before {
  content: "\e635";
}

.icon-weixin:before {
  content: "\e60b";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-shoucangxiao:before {
  content: "\e66f";
}

.icon-shouye:before {
  content: "\e68e";
}

.icon-zhuye:before {
  content: "\e61c";
}

.icon-bianpinghuatubiaosheji-:before {
  content: "\e630";
}

.icon-history:before {
  content: "\e66d";
}

.icon-chuangzuo:before {
  content: "\e6c6";
}

.icon-icon-xiangyoujiantou:before {
  content: "\e65d";
}

.icon-name-card:before {
  content: "\e8a6";
}

.icon-sousuo:before {
  content: "\e610";
}

.icon-mimakeshihua-kulian:before {
  content: "\e63b";
}

.icon-mimakeshihua-xiaolian:before {
  content: "\e63c";
}

.icon-lianxiwomen_lianxikefu:before {
  content: "\e513";
}

.icon-zhuxiaoyuan:before {
  content: "\e862";
}

.icon-icon_rijian:before {
  content: "\e784";
}

.icon-icon_yejian:before {
  content: "\e602";
}