@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1716306012891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e64c";
}

.icon-xiaoxi:before {
  content: "\e635";
}

.icon-weixin:before {
  content: "\e60b";
}


.icon-mimakeshihua-kulian:before {
  content: "\e63b";
}

.icon-mimakeshihua-xiaolian:before {
  content: "\e63c";
}